* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #111;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* About */
.about, .skills {
    padding: 60px;
    text-align: center;
}

/* Skills */
.skill-cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px 30px;
    background: #222;
    color: white;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}
